<%- await include("partials/header", { bot, user, title: "Not found", is_logged, dashboardDetails, dashboardConfig, hasClientSecret }) %>

<div class="container-sm center" style="margin-top: 25px;">
    <h1>404</h1>
    <h2>Not found</h2>
</div>
<%- await include("partials/footer") %>