<%- await include("partials/header", { bot, user, title: "Not found", is_logged, dashboardDetails, dashboardConfig, hasClientSecret }) %>
<body style="background-attachment: fixed; background-size: cover; background-position: center; background-image: url('https://asset.fujifilm.com/www/us/files/2020-05/7e45d44b9f5ca6249ec9f6596453407c/security_banner.jpg');">

<div class="container-sm center" style="margin-top: 25px;">
    <div class="d-grid gap-2 col-6 mx-auto">
        <h1>404</h1>
        <h2>Not found</h2>
    </div>
</div>
<%- await include("partials/footer") %>
